* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

header {
  background: linear-gradient(to top, #1C6EA4 0%, #144F77 100%);
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin-left: 10%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

main {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

section {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: inherit;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map {
  width: 100%;
  height: 40vh;
  min-height: 400px;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
  }

  section {
    width: 40%;
  }

  aside {
    padding: 1rem;
    width: 20%;
  }

  nav ul {
    margin-left: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    flex-direction: column;
  }

  section {
    width: 100%;
  }
}

@media (max-width: 767px) {
  main {
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }
}